<!DOCTYPE html>
<html>
<head>
  <title>CdvSession</title>
  <%= stylesheet_link_tag    "cdv_session/application", :media => "all" %>
  <%= javascript_include_tag "cdv_session/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
